body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #FE4553;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #FE4553;
}

/* HEADER */
.header{
    width: 100%;
    height: 20vh;
    background: #101823;
    display: flex;
    justify-content: space-between;
    
}

.container {
    width: 100%;
    height: 100vh;
    /* padding: 5px; */
}

.navbar{
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar ul{
    display: flex;
    flex-direction: row;    
}
.navbar ul li{
    justify-content: space-around;
    padding: 5px;
    list-style: none;
    width: 55px;
    justify-content: center;
    text-align: center;
}
.navbar ul li a{
    text-decoration: none;
    color: #FE4553;
}
.navbar button{
    display: flex;
    align-items: center;
    height: 30%;
    width: 25%;
    padding: 5px 30px 5px 30px;
    border-radius: 1px;
    border-color: #FE4553;
    color: #FE4553;
    background-color: Transparent;
    background-repeat:no-repeat;
}

.navbar button a{
    color: #FE4553;
}

/* BANNER */
.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.banner h3{
    width: 100%;
    height: 2vh;
    line-height: 75px;
    font-size: 50px;
    color: #101823;
    text-align: center;
    margin-bottom: 100px;
}

.caixas{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

.caixa{
    width: 30vw;
    height: 70vh;
    background-color: #101823;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.caixa:hover{
    transform: scale(1.1);
}

/* SOCIAL */

.boxs{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

.box{
    width: 30vw;
    height: 70vh;
    background-color: #101823;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.box:hover{
    transform: scale(1.1);
}

/* FOOTER */
footer {
    margin: 0;
    display: flex;
    height: 400px;
    background-color: #101823;
}

.footer .contato{
    margin: 20px;
    height: 60px;
    width: 30%;

}

footer .logo img{
    height: 20vh;
    margin-right: 59px;
    margin-top: 35px;
}

.info{
    display: flex;
    justify-content: space-around;
    width: 90vw;
}


.info h3{
    display: flex;
    font-size: 40px;
    color: #FE4553;
    margin-bottom: 6px;
    justify-content: space-around;
}

.info p{
    padding: 3px;
    margin-left: 15%;
    width: 100%;
    margin-top: 3%;
    color: #FE4553;
}

.p p{
    margin: 150px;
    margin-left: 250px;
}

.footer .informa{
    margin-left: 10px;
}